<!-- Image and text -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/images/icon.png" width="30" height="30" class="d-inline-block align-top mr-3">
    Football Bet
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['']">Match Odds</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/how-it-works']">How it works</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="networkAvailable">
        <a class="nav-link" [routerLink]="['/user']">My bets</a>
      </li>
    </ul>
  </div>

  <div *ngIf="!networkAvailable" class="accounts font-weight-bold" style="color: red">
    <span>Please Sign In MetaMask And Select Ethereum Network</span>
  </div>

  <a class="open-sidebar" *ngIf="networkAvailable" (click)="openSidebar()">
    <i class="material-icons mr-3">account_circle</i>
    <span class="badge badge-primary">{{ account.available_banlance_string }}</span>
  </a>
</nav>
