@import '../../styles/variables';
@import '../../styles/mixin/border';
@import '../../styles/mixin/transition';

.accounts {
  font-size: 0.9rem;
}

.navbar a {
  color: #fff;
}

.open-sidebar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.open-sidebar i {
  font-size: 40px;
}

.profile {
  padding: 15px;
  position: fixed;
  width: 350px;
  background-color: $color-white-gray;
  z-index: 2;
  right: 15px;
  color: $color-blue-dark;
  @include border-radius(5px);
  display: none;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color-white-gray;
    position: absolute;
    top: -10px;
    right: 15px;
  }

  &-item {
    display: flex;

    p {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &-info {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $color-blue-dark;

    p {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 5px;
    }
  }

  &.active {
    display: block;
  }
}
