@import '../../styles/_variables';

footer {
  color: $color-white;
  margin-top: 100px;

  .footer-item {
    font-size: 1rem;

    h5 {
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    p {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-white;
      text-decoration: underline;
    }

    @media (max-width: 812px) {
      &.join {
        margin-top: 30px;
        text-align: center;
      }
    }

    @media (max-width: 736px) {
      &.contact {
        margin-top: 30px;
      }
    }
  }

  .social {
    &-wrap {
      padding: 0;
      margin: 10px 0 0;
      list-style: none;
      overflow: hidden;

      @media (max-width: 812px) {
        width: 220px;
        margin: 0 auto;
      }
    }

    &-item {
      float: left;
      text-align: center;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;

        a {
          padding-left: 0;
        }
      }

      a {
        display: block;
        padding: 5px 10px 0;
        cursor: pointer;
        position: relative;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        .fa {
          font-size: 1.7rem;
        }
      }

      &:hover a {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        top: -3px;
        opacity: 0.8;
      }

      &:last-child {
        margin-right: 0;

        a {
          padding-right: 0;
        }
      }
    }
  }
}

.copyr {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid $color-white;
  color: $color-white;

  p {
    margin-bottom: 0;
  }
}
