<footer>
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-item contact">
            <!-- <h5>Navigate</h5> -->
            <!-- <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a> -->
          </div>

          <div class="col-lg-4 col-md-6 footer-item contact">
            <h5>Contact us</h5>
            <p><a href="mailto:cyborg@swissborg.com">cyborg@swissborg.com</a></p>
            <p>Phone: +41 21 620 64 64</p>
            <p>SwissBorg</p>
            <p>Rue du Grand-Chêne 8 1003 Lausanne
              <br>Switzerland</p>
            <!-- <a href="riskdisclaimer.html">Risk Disclaimer</a>
                      <a href="../files/swissborg-privacy-policy-document.pdf">Privacy Policy</a>
                      <a href="../files/swissborg-website-terms-conditions.pdf">Website Terms and Condition</a> -->
          </div>

          <div class="col-lg-4 col-md-12 footer-item join">
            <h5>Join the community</h5>
            <ul class="social-wrap">
              <li class="social-item">
                <a>
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li class="social-item">
                <a>
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="social-item">
                <a>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="social-item">
                <a>
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li class="social-item">
                <a>
                  <i class="fa fa-btc"></i>
                </a>
              </li>
              <li class="social-item">
                <a>
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyr">
    <p>All Rights reserved FootballBet &copy; 2018</p>
  </div>
</footer>
