<footer>
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-item contact">
            <h5>Navigate</h5>
            <p><a [routerLink]="['']">Match Odds</a></p>
            <p><a [routerLink]="['/how-it-works']">How it works</a></p>
            <p><a>FAQs</a></p>
            <p><a>Support</a></p>
            <p><a>My bets</a></p>
          </div>

          <div class="col-lg-4 col-md-6 footer-item contact">
            <h5>Contact us</h5>
            <p><a href="mailto:info@bether.bet">info@bether.bet</a></p>
            <p>Phone:+1 873 483 724</p>
            <p>Bether</p>
            <p>Rue du Grand-Chêne 8 1003 Lausanne
              <br>Canada</p>
          </div>

          <div class="col-lg-4 col-md-12 footer-item join">
            <h5>Join the community</h5>
            <ul class="social-wrap">
              <li class="social-item">
                <a tooltip="Facebook" placement="top">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li class="social-item">
                <a tooltip="Twitter" placement="top">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="social-item">
                <a tooltip="Google" placement="top">
                  <i class="fa fa-google-plus-official"></i>
                </a>
              </li>
              <li class="social-item">
                <a tooltip="Pinterest" placement="top">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyr">
    <p>All Rights reserved Bether &copy; 2018</p>
  </div>
</footer>
