<div class="card text-white bg-info my-3">
  <div class="card-header">{{ currentDateString }}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-info" *ngFor="let fixture of fixtures">
      <p class="my-0 font-weight-bold text-">
        {{ fixture.time_string }}
      </p>
      <p class="float-left my-0 pl-4">
        <img [src]="fixture.homeFlag" width="30px"> {{ fixture.match }}
        <img [src]="fixture.awayFlag" width="30px">
      </p>
      <a routerLink="/match-detail" [queryParams]="fixture.pickJson()" class="badge badge-primary float-right mt-2">Info</a>
    </li>
  </ul>
</div>
