<div class="alert alert-match text-white mt-3 filter-wrap" role="alert">
  <p>{{ currentDateString }}</p>

  <nav class="filter-box">
    <a class="fl-item active">Current Bet</a>
    <a class="fl-item">Settled</a>
    <a class="fl-item">Open</a>
  </nav>
</div>

<accordion closeOthers="true" class="match-accr-wrap accr-fixtures">
  <accordion-group
    *ngFor="let fixture of fixtures; let key = index"
    [panelClass]="'match-accr-item'"
    [isOpen]="key === 0">
    <div class="accor-header" accordion-heading>
      <div class="accr-arrow">
        <i class="fa fa-plus arrow-open"></i>
        <i class="fa fa-minus arrow-close"></i>
      </div>

      <div class="title">
        <p>{{ fixture.name }}</p>
        <div class="accr-ball--active">
          <i class="fa fa-futbol-o fa-spin"></i>
        </div>
      </div>
    </div>

    <div class="table-responsive pt-3">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let betting of fixture.bettings">
            <td>
              <div class="betting-wrap">
                <sdc-image
                  imgWidth="30px"
                  imgHeight="20px"
                  [imgUrl]="betting.homeTeamFlag"
                  [imgName]="betting.homeTeam"></sdc-image>
                <p>{{ betting.bettingName }}</p>
                <sdc-image
                  imgWidth="30px"
                  imgHeight="20px"
                  [imgUrl]="betting.awayTeamFlag"
                  [imgName]="betting.awayTeam"></sdc-image>
              </div>
            </td>
            <td>100</td>
            <td>100</td>
            <td class="text-center">
              <a class="betting-detail" [routerLink]="['/match-detail']">
                <i class="fa fa-chevron-circle-right"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </accordion-group>
</accordion>

<!-- <div class="card card-match text-white my-3" [hidden]="!fixtures.length">
  <div class="card-header font-weight-bold">{{ currentDateString }}</div>
  <ul class="list-group list-group-flush">
    <li (click)="gotoDetail(fixture)" class="list-group-item pointer" *ngFor="let fixture of fixtures">
      <p class="my-0 font-weight-bold text-">
        {{ fixture.time_string }}
      </p>
      <p class="match-flag">
        <img class="box-shadow--sm flag-img" [src]="fixture.homeFlag"> {{ fixture.match }}
        <img class="box-shadow--sm flag-img" [src]="fixture.awayFlag">
      </p>
      <a (click)="gotoDetail(fixture)" class="arrow-detail"></a>
    </li>
  </ul>
</div> -->

<!-- <div class="alert alert-match text-white mt-3" role="alert" [hidden]="fixtures.length">
  No matches found!
</div> -->
