# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/backend/build
/backend/node_modules

# dependencies
/node_modules
/build
/src/app
/src/environment/index.ts
/src/*.js
/src/*.js.map
/src/*/*.js
/src/*/*.js.map
/src/*/*/*.js
/src/*/*/*.js.map

!/src/plugins/vuetify.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
