<v-layout row wrap>
  <v-flex xs6 v-for="label in oddsTitle" :key="label.key">
    <v-btn :flat="!label.active" block dark :color="label.active ? 'teal lighten-1' : '' " class="mb-0"
      @click="selectOddsType(label.key)">{{ label.name }}</v-btn>
  </v-flex>

  <v-flex md6 text-xs-center :offset-md6="!isOddsOpen" xs12>
    <v-chip label v-for="filter in listFilter" :key="filter.key" :outline="!isActiveFilter(filter.key)" :class="isActiveFilter(filter.key) ? 'white--text': 'cursor-pointer'"
      :color="isActiveFilter(filter.key) ? 'teal lighten-1': ''" @click="changedFilter(filter.key)">
      {{ filter.name }} ({{ filter.number }})
    </v-chip>
  </v-flex>
</v-layout>