<v-dialog v-model="isStoreBetting" persistent width="700" lazy v-if="isStoreBetting">
  <v-toolbar card dark color="blue-grey lighten-6">
    <v-toolbar-title>{{ dialogTitle }}</v-toolbar-title>
  </v-toolbar>

  <v-divider color="white"></v-divider>

  <v-card color="blue-grey lighten-6 modal-card" dark>
    <v-card-text>
      <v-container class="pa-0" fluid grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12>
            <p class="text-xs-center title mb-2 font-weight-regular">You're selecting: <strong>{{ selectedTeam }}</strong></p>
          </v-flex>
          <v-flex
            :xs4="!odds"
            :xs6="!!odds"
            v-if="!odds || (!!odds && isAwayTeamActive)">
            <v-card class="cursor-pointer"
              :raised="isHomeTeamActive"
              :hover="isAwayTeamActive"
              :class="{ 'teal lighten-1': isHomeTeamActive || !!odds, 'grey lighten-2': isAwayTeamActive && !odds }">
              <v-img :src="homeTeamFlag" contain height="150px" @click="changeTeam(0)"></v-img>
              <v-card-title class="headline d-block text-xs-center"
                :class="{ 'teal--text': isAwayTeamActive && !odds }"
                @click="changeTeam(0)">
                <p class="mb-1 title text-ellipsis" :title="homeTeam">{{ homeTeam }}</p>
                <p class="mb-0 subheading">{{ oddsSignHome }}</p>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex
            :xs4="!odds"
            :xs6="!!odds"
            :class="{ 'align-self-center': !!odds }"
            :order-xs2="!!odds && isHomeTeamActive">
            <!--<p class="text-xs-center caption" v-html="handicapInfo"></p>-->
            <v-select hide-selected dark v-model="oddsSelected" color="white" class="bet-select-center" :menu-props="{contentClass:'bet-select'}" append-icon="fas fa-chevron-down font-sm"
              :items="oddsType" label="Handicap" v-if="!odds"></v-select>
            <v-text-field v-model="stakeSelected" dark color="white" label="Stake" type="number" suffix="ETH" min="0.05" step="0.01" v-if="!odds"></v-text-field>

            <div v-if="!!odds">
              <p class="mb-2" v-if="!!odds">Bet with:
                <account-addr :address="odds.bookmakerAddress" isFull="true"/>
              </p>
              <v-text-field v-model="stakeSelected" dark color="white" label="Max Stake" type="number" suffix="ETH" min="0.05" step="0.01"></v-text-field>
            </div>

          </v-flex>
          <v-flex
            :xs4="!odds"
            :xs6="!!odds"
            v-if="!odds || (!!odds && isHomeTeamActive)"
            :order-xs1="!!odds && isHomeTeamActive">
            <v-card class="cursor-pointer" :raised="isAwayTeamActive" :hover="isHomeTeamActive"
            :class="{ 'teal lighten-1': isAwayTeamActive || !!odds, 'grey lighten-2': isHomeTeamActive && !odds }">
              <v-img :src="awayTeamFlag" contain height="150px" @click="changeTeam(1)"></v-img>
              <v-card-title class="headline d-block text-xs-center"
                :class="{ 'teal--text': isHomeTeamActive && !odds, 'white--text': !!odds && isHomeTeamActive }" @click="changeTeam(1)">
                <p class="mb-1 title text-ellipsis">{{ awayTeam }}</p>
                <p class="mb-0 subheading">{{ oddsSignAway }}</p>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>

    <v-card-text class="text-xs-center">
      <p class="mb-0">Potential Return: {{ potential }} ETH</p>
    </v-card-text>

    <v-card-actions class="justify-content-center">
      <v-btn outline @click="closeDialog(null)">Close</v-btn>
      <v-btn color="teal lighten-1" @click="saveBet">{{ dialogButn }}</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
