.fb-filter {
  padding: 0;
  list-style: none;
  margin: 15px 0 0 6.5%;
  overflow: hidden;

  .filter-item {
    float: left;
    margin-right: 15px;
    font-size: 1.3rem;
    width: 110px;

    &:last-child {
      margin-right: 0;
    }

    a {
      cursor: pointer;
      text-transform: capitalize;
      display: block;
      text-align: center;
    }

    &.active {
      color: $color-white;
      pointer-events: none;
    }

    @media (max-width: 414px){
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &--finished {
    float: right;
    margin-left: 0;
    margin-right: 6.5%;
  }

  @media (max-width: 1024px){
    width: calc(440px + (15px * 3));
    margin: 15px auto 0;

    &--finished {
      float: none;
    }
  }

  @media (max-width: 414px){
    width: 100%;
    column-count: 2;
  }
}

.match-recommend {
  color: $color-white;
  display: flex;
  padding-left: 20px;
  white-space: nowrap;
  margin-bottom: 30px;
  position: relative;

  .mr {
    &-wrap {
      padding: 0 0 0 15px;
      margin: 0;
      list-style: none;
      overflow: hidden;

      @media (max-width: 812px) {
        padding: 0;
      }
    }

    &-item {
      float: left;
      margin-right: 20px;
      text-transform: capitalize;

      a {
        cursor: pointer;

        .fa {
          color: $color-yellow;
        }

        &::after {
          background: $color_white;
          content: '';
          display: block;
          height: 2px;
          transition: all .2s ease;
          width: 0%;
        }

        &:hover::after {
          width: 100%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-more {
      text-transform: lowercase;

      a::after {
        width: 100%;
      }
    }
  }

  @media (max-width: 812px) {
    display: block;
  }
}
