.filter {
  &-wrap {
    display: flex;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }

    @media (max-width: 414px) {
      display: block;
      text-align: center;
    }
  }

  &-box {
    display: inherit;

    .fl {
      &-item {
        margin-right: 15px;
        position: relative;
        cursor: pointer;
        color: $color-gray--80;

        &:not([href]):not([tabindex]) {
          color: $color-gray--80;
        }

        &::before {
          position: absolute;
          content: '';
          right: -9px;
          top: 4px;
          height: 70%;
          width: 2px;
          background: $color-white;
        }

        &::after {
          background: $color_white;
          content: '';
          display: block;
          height: 2px;
          transition: all .2s ease;
          width: 0%;
        }

        &:last-child {
          margin-right: 0;

          &::before {
            display: none;
          }
        }

        &.active, &:hover {
          color: $color-white;

          &:not([href]):not([tabindex]) {
            color: $color-white;
          }

          &::after {
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 414px) {
      display: flex;
      margin-top: 10px;
      justify-content: center;
    }
  }
}

.betting {
  &-wrap {
    display: flex;
    align-items: center;

    p {
      margin: 0 5px 0;
      line-height: 1.2;
    }

    &.betting {
      &-md {
        p {
          line-height: 1.4;
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }

  &-sort {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    color: $color-white;
    margin-right: 15px;

    .title {
      margin-bottom: 0;
      margin-right: 20px;
    }

    .sort-item {
      width: 100px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.sort {

        &-sm {
          width: 70px;
        }

        &-md {
          width: 150px;
        }
      }
    }

    @media (max-width: 1024px) {
      margin-right: 0;
    }

    @media (max-width: 667px) {
      justify-content: center;
    }
  }
}

.boundary {
  padding: 0 5px;
  border-radius: 5px;

  &-success {
    background-color: $color-green;
  }
}
