$color-white: #fff;
$color-gray--80: #808080;
$color-gray--dd: #dcdcdd;
$color-blue--ff: #007bff;

$rgba-gray--65: rgba(255, 255, 255, .65);
$rgba-blue--8: rgba(0, 46, 102, .8);
$bg_bet: rgba(78, 113, 128, .6);
