$color-white: #fff;
$color-white-gray: #f6f6f6;
$color-yellow: #ffc107;
$color-green: #12e642;
$color-red: #ea2a3b;
$color-info: #17a2b8;
$color-blue: #007bff;
$color-blue-gray: #4e7180;
$color-blue-dark: #114c65;
$color-gray-white: #dcdcdd;

$color-twitter: #20BFF3;
$color-twitter--hover: #28a4ce;
$color-facebook: #3B5998;
$color-facebook--hover: #2b416d;
$color-google: #DA4B42;
$color-google--hover: #b53a32;
$color-github: #2d2d2d;
$color-github--hover: #151414;

$color-gray--80: #808080;
$color-gray--dd: #dcdcdd;

$rgba-gray--65: rgba(255, 255, 255, .65);
$rgba-gray-opacity: rgba(255, 255, 255, .9);
$rgba-blue-opacity: rgba(0, 46, 102, .8);
$rgba-green-opacity: rgba(18, 230, 66, .5);
$rgba-blue-gray-opacity: rgba(78, 113, 128, .8);

$bg_bet: $rgba-blue-gray-opacity;

// Button
$color-submit: $color-blue-gray;
$color-submit-hover: $rgba-blue-gray-opacity;
