$color-white: #fff;
$color-yellow: #ffc107;
$color-green: #12e642;
$color-info: #17a2b8;
$color-blue-gray: #4e7180;

$color-gray--80: #808080;
$color-gray--dd: #dcdcdd;
$color-blue--ff: #007bff;

$rgba-gray--65: rgba(255, 255, 255, .65);
$rgba-gray-opacity: rgba(255, 255, 255, .9);
$rgba-blue-opacity: rgba(0, 46, 102, .8);
$rgba-green-opacity: rgba(18, 230, 66, .5);
$rgba-blue-gray-opacity: rgba(78, 113, 128, .8);

$bg_bet: $rgba-blue-gray-opacity;

// Button
$color-submit: $color-blue-gray;
$color-submit-hover: $rgba-blue-gray-opacity;
