@import './utils/variables';

.crypto-app {
  background-image: url('../assets/images/bitcoin-node.jpg') !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.blue-grey {
  &.lighten-6 {
    background-color: $color-blue-gray !important;
    border-color: $color-blue-gray !important;
  }

  &.lighten-6-opacity {
    background-color: $rgba-blue-gray-opacity !important;
    border-color: $rgba-blue-gray-opacity !important;
  }
}

.bg-transparent {
  background-color: transparent !important;

  .v-datatable.v-table {
    background-color: transparent !important;
  }
}

.accor-fixture {
  .v-expansion-panel__header {
    background-color: $color-blue-dark;
    border-left: 3px solid #00E676;
  }

  .v-card__text {
    border-left: 3px solid #B9F6CA;
  }
}

.table-fixture {
  .v-datatable {
    &.v-table {
      thead {
        text-transform: uppercase;
        font-weight: bold;

        .v-datatable__progress {
          background-color: #00E676;
        }
      }

      tbody > tr {
        > td {
          cursor: pointer;
        }

        &:hover {
          background-color: $color-blue-gray;
        }

        &.v-datatable__expand-row {
          &:hover {
            background-color: transparent;
          }

          .v-datatable.v-table {
            tbody > tr {
              &:hover {
                background-color: transparent;
                pointer-events: none;
              }
            }
          }
        }
      }
    }

    .v-datatable__actions {
      background-color: transparent;
      border-top-color: #00E676
    }
  }
}

.betting-wrap {
  display: flex;
  align-items: center;

  .bet-name {
    margin: 0 5px;

    &--lg {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &--xlg {
      font-size: 1.9rem;
      font-weight: bold;
    }
  }
}

.font-sm {
  font-size: 1rem;
}

.justify {
  &-content {
    &-center {
      justify-content: center;
    }
  }
}

.align {
  &-flex-end {
    align-self: flex-end;
  }

  &-self {
    &-center {
      align-self: center
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
    .v-chip__content {
      cursor: pointer;
    }
  }
}

.bet-select-center {
  &.theme--dark .v-select__selections {
    justify-content: center;
  }

  &.v-text-field input {
    display: none;
  }
}

.bet-select {
  background-color: $color-blue-gray !important;
  border-color: $color-blue-gray !important;
  margin-top: 34px;

  .theme--dark {
    &.v-card, .v-list {
      background-color: transparent;
    }
  }

  .v-list__tile {
    height: 30px;
  }
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.line-height-1 {
  line-height: 1 !important;
}
