@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&subset=latin-ext');

@import 'variables';
@import 'mixin/index';
@import 'inheritance/index';
@import 'utils/index';

@import 'global';

// import Page;
@import 'pages/index';

/* You can add global styles to this file, and also import other style files */
body {
  @include bg-img--cover('../assets/images/bitcoin-node.jpg', true);
  min-height: 100vh;
  @extend %font-barlow-condensed;
  letter-spacing: .6px;
}

.nav-link {
  color: $color_white;

  &:hover {
    color: $color_white;
  }
}

.nav-item {
  &::after {
    background: $color_white;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    @include transition(all, .2s, ease);
    width: 0%;
  }

  &:hover::after,
  &.active::after {
    width: 95%;
  }
}

.card.card-match,
.alert-match,
.table-match,
.input-bet,
.bet-accordion {
  background-color: $bg_bet;
  @include box-shadow(0px, 0px, 4px, $color_white);
  border: 1px solid $rgba-gray--65;
}

.card.card-match .card-header {
  border-bottom: 1px solid $rgba-gray--65;
}

.card.card-match .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid $rgba-gray--65;
  position: relative;
}

.card.card-match .list-group-item .match-flag {
  @extend %flex-center;
  margin: 10px 0 0 15px;
}

.match-flag {
  .flag-img {
    width: 40px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.arrow-detail {
  border: solid $color_white;
  border-width: 0px 3px 3px 0;
  display: block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.card.card-match .list-group-item .arrow-detail {
  position: absolute;
  right: 20px;
  top: calc(50% - 4px);
}

.box-shadow--sm {
  @include box-shadow(0, 0, 5px, $color_white);
}

.pointer {
  cursor: pointer;
}

.text-link {
  color: $color-blue !important;
  cursor: pointer;
}

.input-bet {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .form-control {
    background-color: transparent;
    border: 0;
    color: $color_white;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  .input-group-append i.material-icons {
    color: $color_white;
    line-height: 36px;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bet-accordion {
  margin-top: 20px;

  .accr-header {
    overflow: hidden;
    color: $color_white;
    font-size: 25px;
    line-height: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;

    &::after {
      background: $color_white;
      content: '';
      display: block;
      height: 2px;
      margin: 0 auto;
      @include transition(all, .2s, ease);
      width: 0;
    }

    .material-icons {
      float: right;
      font-size: 40px;
      line-height: 20px;
      margin-right: -20px;
    }
  }

  &.active .accr-header::after {
    width: 100%;
    margin: 10px auto 0;
  }

  .accr-body {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    &.active {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      height: auto;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
      padding: 20px;
    }
  }
}

.close:not(:disabled):not(.disabled) {
  outline: none;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

.modal-title_sub {
  display: block;
  font-size: 13px;
  color: $color-gray--80;
}

.input-match {
  background-color: transparent;
  border: 1px solid $color-gray--dd;
  color: $color_white;
  text-align: center;
}

