<v-dialog v-model="isDialog" width="500">
  <v-toolbar card dark color="blue-grey lighten-6">
    <v-toolbar-title>Share your bet</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon dark @click="isDialog = !isDialog">
      <v-icon>fas fa-times</v-icon>
    </v-btn>
  </v-toolbar>

  <v-divider color="white"></v-divider>

  <v-card color="blue-grey lighten-6 overflow-hidden modal-card" dark>
    <v-card-text class="text-xs-center">
      <p><v-icon size="60">fab fa-ethereum</v-icon></p>
      <p class="mb-0 mt-4" v-if="!isSocial">{{ message }}</p>
      <p v-if="!isSocial">Please wait for a few minutes before your transaction is confirmed.</p>
      <v-tooltip bottom lazy v-if="!isLoading">
        <v-btn color="blue accent-2" slot="activator" :loading="isLoading"
          v-clipboard:copy="sharePath"
          v-clipboard:success="onCopy">
          <v-icon left>fas fa-copy</v-icon>
          Copy Link betting
        </v-btn>
        <span>Copy Link</span>
      </v-tooltip>
    </v-card-text>

    <v-card-text class="text-xs-center">
      <social-sharing url="https://vuejs.org/"
        title="Bether"
        description="Betting without borders"
        quote="Vue is a progressive framework for building user interfaces."
        hashtags="betting,football,ethereum,blockchain"
        twitter-user="vuejs"
        inline-template>
        <section>
          <network network="telegram">
            <v-tooltip top lazy>
              <v-btn class="mx-3 white--text" icon slot="activator" color="blue darken-3">
                <v-icon size="24px">fab fa-telegram-plane</v-icon>
              </v-btn>
              <span>Telegram</span>
            </v-tooltip>
          </network>

          <network network="twitter">
            <v-tooltip top lazy>
              <v-btn class="mx-3 white--text" icon slot="activator" color="light-blue darken-1">
                <v-icon size="24px">fab fa-twitter</v-icon>
              </v-btn>
              <span>Twitter</span>
            </v-tooltip>
          </network>

          <!-- <network network="github">
            <v-tooltip top lazy>
              <v-btn class="mx-3 white--text" icon slot="activator" color="blue-grey darken-3">
                <v-icon size="24px">fab fa-github</v-icon>
              </v-btn>
              <span>Github</span>
            </v-tooltip>
          </network> -->
        </section>
      </social-sharing>
    </v-card-text>
  </v-card>
</v-dialog>
