.large-header {
  position: absolute;
}

.coming-soon {
  background-image: url('../../assets/images/bg-coming-soon.jpg') !important;
  background-size: cover !important;
  background-position: 50% 50% !important;

  .bether-logo {
    background-image: url('../../assets/logo-5.png');
    background-size: 70px;
    background-position: 42% 50%;
    color: #26A69A;

    span {
      padding-left: 68px;
      color: #fff;
    }
  }
}