<div class="container flip-clock">
  <template v-for="data in timeData">
    <span v-bind:key="data.label" class="flip-clock__piece" :id="data.elementId">
      <span class="flip-clock__card flip-card">
        <b class="flip-card__top">{{data.current | twoDigits}}</b>
        <b class="flip-card__bottom" v-bind:data-value="data.current | twoDigits"></b>
        <b class="flip-card__back" v-bind:data-value="data.previous | twoDigits"></b>
        <b class="flip-card__back-bottom" v-bind:data-value="data.previous | twoDigits"></b>
      </span>
      <span class="flip-clock__slot">{{data.label}}</span>
    </span>
  </template>
</div>