<div class="modal-header md-header-odds">
  <h5 class="modal-title">
    <i class="fa fa-share-alt" aria-hidden="true"></i>
    Share your bet
  </h5>
</div>

<div class="modal-body text-center">
  <p class="mb-0">Your settlement has been submitted!</p>
  <p>Please wait for a few minutes before your transaction is confirmed.</p>

  <nav class="bet-social">
    <a class="social-item social-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="social-item social-facebook">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a class="social-item social-google">
      <i class="fa fa-google-plus-square"></i>
    </a>
    <a class="social-item social-github">
      <i class="fa fa-github-square"></i>
    </a>
  </nav>
</div>

<div class="modal-footer md-footer-info">
  <button type="button" class="btn btn-sm btn-default" (click)="close()">Close</button>
</div>
