<div class="modal-header">
  <h5 class="modal-title pull-left">

  </h5>
</div>

<div class="modal-body">

  <!-- <table class="table text-center table-borderless">
    <thead>
      <tr>
        <th scope="col"> {{fixture.homeTeamName}} </th>
        <th scope="col">Placed Bet</th>
        <th scope="col"> {{fixture.awayTeamName}} </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="btn">
          <img [src]="fixture.homeFlag" width="120px">
        </td>
        <td>

          <div id="selectedTeam" class="text-center text-info font-weight-bold">
            <span *ngIf="betting.selectedTeam === 1">{{match.homeTeam}}</span>
            <span *ngIf="betting.selectedTeam === 0">{{match.awayTeam}}</span>
            <span class="text-danger"> {{0 - betting.odds_number/100}}</span> @
            <br/>
            <span id="estimateCoinWin"><label>{{betting.stake}}</label> ETH</span>
          </div>

        </td>
        <td scope="row" class="btn">
          <img [src]="fixture.awayFlag" width="120px">
        </td>
      </tr>
    </tbody>
  </table> -->

</div>

<div class="modal-footer md-footer-info">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="deal(betting)">{{ btnSubmit }}</button>
</div>
