.match-accr-wrap {

  .accr-arrow .arrow-close {
    opacity: 0;
    display: none;
    @include transition(opacity, 0.5s, linear);
  }

  .match-accr-item {
    background-color: $bg_bet;
    color: $color-white;
    border-radius: 0;

    .card-header {
      padding: .45rem 1.25rem;
      background-color: $color-blue-dark;
      border-bottom: 1px solid $color-white;
      border-left: 3px solid $color-green;
      cursor: pointer;

      &:first-child {
        border-radius: 0;
      }

      .accor-header {
        display: flex;
        align-items: center;

        .date {
          text-align: center;
          font-weight: bold;
          line-height: .9;

          span {
            display: block;

            &:first-child {
              margin-bottom: 3px;
            }
          }
        }

        .title {
          margin-left: 15px;
          width: 100%;
          position: relative;

          &::after {
            background: $color_white;
            position: absolute;
            bottom: -8px;
            content: '';
            display: block;
            height: 1px;
            @include transition(all, .7s, ease);
            width: 0%;
          }

          p {
            display: inline-block;
            margin-bottom: 0;
          }

          .accr-ball--active {
            display: none;
          }

          .stake {
            float: right;
          }
        }
      }
    }
  }

  .panel-open {
    .match-accr-item {
      .card-header {
        border-bottom: 0;

        .accor-header .title {
          font-weight: bold;

          &::after {
            width: 100%;
          }

          .accr-ball--active {
            display: inline-block;
            margin-left: 10px;
            color: $color-green;
          }
        }
      }

      .panel-body {
        border-left: 3px solid $rgba-green-opacity;
        border-bottom: 1px solid $color-white;
        padding-top: 0;
        padding-left: 3rem;

        .table {
          margin-bottom: 0;

          thead tr th {
            border-top: 0;
            text-transform: uppercase;
            font-size: .9rem;
            border-color: $color-green;
          }

          .betting-detail {
            font-size: 1.3rem;
            color: $color-white;
            cursor: pointer;

            &:hover {
              color: $color-green;
            }
          }

          tbody {
            text-transform: capitalize;
          }
        }
      }
    }

    .accr-arrow .arrow-close {
      display: block;
      opacity: 1;
      margin-top: 4px;
    }

    .accr-arrow .arrow-open {
      opacity: 0;
      display:none;
      @include transition(opacity, 0.5s, linear);
    }
  }

  &.accr {
    &-user {
      margin: 15px;

      .card-header .accor-header .title::after {
        bottom: -13px;
      }

      .panel-open .match-accr-item .panel-body {
        padding-left: 3.7rem;
      }
    }

    &-fixtures {
      .table tbody tr:first-child td {
        border-top: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    &.accr-user {
      margin: 15px 0 0;
    }
  }
}
