.btn {

  &-default {
    border: 1px solid $color-gray--80;

    &:hover {
      background-color: $color-gray--80;
      color: $color-white;
    }
  }

  &-submit {
    background-color: $color-submit;
    border-color: $color-submit;

    &:hover {
      background-color: $color-submit-hover;
      border-color: $color-submit-hover;
      color: $color-white;
    }
  }

  &-cancel {
    background-color: $color-white;
    color: $color-red;
    line-height: 0;
    border-color: $color-red;
    font-weight: bold;
  }

  &-cancel.disabled,
  &-cancel:disabled,
  &-danger.disabled,
  &-danger:disabled {
    background-color: $color-gray--80;
    border-color: $color-gray--80;
    color: $color-gray-white;
  }

  &:focus {
    outline: none
  }

}
