.input-search {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 5px;

  &--icon, &--item {
    float: left;
  }

  &--icon {
    width: 24px;
    color: $color-white;
  }

  &--item {
    float: right;
    width: calc(100% - 24px);
    background-color: transparent;
    border: none;
    color: $color-white;

    &:focus {
      outline: none;
    }
  }

  &::after {
    content: '';
    width: 98%;
    height: 1px;
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
