.flag {
  &-origin {
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 50% 50%;
    height: 14rem;

    &.manchester-city {
      background-image: url('../assets/flag/manchester-city.png');
    }

    &.liverpool {
      background-image: url('../assets/flag/liverpool.png');
    }

    &.chelsea {
      background-image: url('../assets/flag/chelsea.png');
    }

    &.watford {
      background-image: url('../assets/flag/watford.png');
    }

    &.tottenham-hotspur {
      background-image: url('../assets/flag/tottenham-hotspur.png');
    }

    &.bournemouth {
      background-image: url('../assets/flag/bournemouth.png');
    }

    &.everton {
      background-image: url('../assets/flag/everton.png');
    }

    &.leicester-city {
      background-image: url('../assets/flag/leicester-city.png');
    }

    &.manchester-united {
      background-image: url('../assets/flag/manchester-united.png');
    }

    &.crystal-palace {
      background-image: url('../assets/flag/crystal-palace.png');
    }

    &.brighton-hove-albion {
      background-image: url('../assets/flag/brighton-hove-albion.png');
    }

    &.newcastle-united {
      background-image: url('../assets/flag/newcastle-united.png');
    }

    &.southampton {
      background-image: url('../assets/flag/southampton.png');
    }

    &.wolverhampton-wanderers {
      background-image: url('../assets/flag/wolverhampton-wanderers.png');
    }

    &.burnley {
      background-image: url('../assets/flag/burnley.png');
    }

    &.cardiff-city {
      background-image: url('../assets/flag/cardiff-city.png');
    }

    &.arsenal {
      background-image: url('../assets/flag/arsenal.png');
    }

    &.fulham {
      background-image: url('../assets/flag/fulham.png');
    }

    &.west-ham-united {
      background-image: url('../assets/flag/west-ham-united.png');
    }

    &.huddersfield-town {
      background-image: url('../assets/flag/huddersfield-town.png');
    }
  }
}
