.flag {

  // TODO[HBQ, P1] refer to : https://www.bundesliga.com/en/league/ to set position of each club
  // http://localhost:8081/img/bundesliga_2018-2019.002ba92a.svg

  &-bundesliga {
    background: url('../assets/flag/bundesliga_2018-2019.svg') no-repeat;
    background-size: 400px 400px;
    width: 25px;
    height: 25px;

    &.vfb-stuttgart {
      background-size: 500% 400%;
      background-position: 0% 34.33333%;
      width: 22px;
      height: 22px;
    }
    &.tsv-fortuna-95-dsseldorf {
      background-size: 500% 400%;
      background-position: 50% 94%;
    }
    &.-nrnberg {
      background-size: 500% 400%;
      background-position: 50% 0%;
    }

    &.hertha-bsc {
      background-size: 500% 400%;
      background-position: 75% 100%;
    }

    &.hannover-96 {
      background-size: 500% 400%;
      background-position: 25% 0%;
    }

    &.borussia-mnchengladbach {
      background-size: 500% 400%;
      background-position: 25% 33.33333%;
    }
    &.vfl-wolfsburg {
      background-size: 500% 400%;
      background-position: 0% 33.33333%;
    }
    &.sc-freiburg {
      background-size: 500% 400%;
      background-position: 50% 66.66667%;
    }
    &.tsg-1899-hoffenheim {
      background-size: 500% 400%;
      background-position: 75% 0%;
    }
    &.bv-borussia-09-dortmund {
      background-size: 500% 400%;
      background-position: 0% 66.66667%;
    }
    &.augsburg {
      background-size: 500% 400%;
      background-position: 100% 0%;
    }
    &.sv-werder-bremen {
      background-size: 500% 400%;
      background-position: 75% 66.66667%;
    }
    &.schalke-04 {
      background-size: 500% 400%;
      background-position: 25% 66.66667%;
    }
    &.bayern-mnchen {
      background-size: 500% 400%;
      background-position: 25% 100%;
    }

  }

  &-25 {
    background: url('../assets/flag/flag-25.png') no-repeat;
    background-size: 400px 400px;
    width: 25px;
    height: 25px;

    &.manchester-city {
      background-position: -250px -250px;
    }

    &.liverpool {
      background-position: -250px -225px;
    }

    &.chelsea {
      background-position: -150px -150px;
    }

    &.watford {
      background-position: -350px -50px;
    }

    &.tottenham-hotspur {
      background-position: -275px -325px;
    }

    &.bournemouth {
      background-position: -50px -125px;
    }

    &.everton {
      background-position: 0 -200px;
    }

    &.leicester-city {
      background-position: -250px -125px;
    }

    &.manchester-united {
      background-position: -275px -200px;
    }

    &.crystal-palace {
      background-position: -50px -175px;
    }

    &.brighton-hove-albion {
      background-position: -100px -100px;
    }

    &.newcastle-united {
      background-position: -275px -250px;
    }

    &.southampton {
      background-position: -325px -250px;
    }

    &.wolverhampton-wanderers {
      background-position: -350px -225px;
    }

    &.burnley {
      background-position: -25px -150px;
    }

    &.cardiff-city {
      background-position: -75px -150px;
    }

    &.arsenal {
      background-position: 0 -50px;
    }

    &.fulham {
      background-position: -225px -100px;
    }

    &.west-ham-united {
      background-position: -350px -100px;
    }

    &.huddersfield-town {
      background-position: -75px -225px;
    }

    &.athletic-club {
      background-position: -75px -50px;
    }

    &.ac-milan {
      background-position: -25px 0;
    }

    &.leeds-united {
      background-position: -250px -75px;
    }

    &.blackburn-rovers {
      background-position: -125px -50px;
    }

    &.blackpool {
      background-position: -125px -75px;
    }

    &.birmingham-city {
      background-position: -125px 0;
    }

    &.aston-villa {
      background-position: -50px -75px;
    }

    &.barnsley {
      background-position: -100px -50px;
    }

    &.bolton-wanderers {
      background-position: 0 -125px;
    }

    &.bradford-city {
      background-position: -75px -125px;
    }

    &.charlton-athletic {
      background-position: -125px -150px;
    }

    &.coventry-city {
      background-position: -175px -125px;
    }

    &.derby-county {
      background-position: -200px 0;
    }

    &.hull-city {
      background-position: -100px -225px;
    }

    &.ipswich-town {
      background-position: -150px -225px;
    }

    &.middlesbrough {
      background-position: -275px -50px;
    }

    &.norwich-city {
      background-position: -100px -275px;
    }

    &.nottingham-forest {
      background-position: 0 -275px;
    }

    &.oldham-athletic {
      background-position: -200px -275px;
    }

    &.portsmouth {
      background-position: -300px -150px;
    }

    &.queens-park-rangers {
      background-position: 0 -300px;
    }

    &.reading {
      background-position: -75px -300px;
    }

    &.sheffield-united {
      background-position: -325px -150px;
    }

    &.sheffield-wednesday {
      background-position: -325px -175px;
    }

    &.stoke-city {
      background-position: -50px -325px;
    }

    &.sunderland {
      background-position: -150px -325px;
    }

    &.swansea-city {
      background-position: -200px -325px;
    }

    &.swindon-town {
      background-position: -225px -325px;
    }

    &.wigan-athletic {
      background-position: -350px -125px;
    }

    &.wimbledon {
      background-position: -350px -150px;
    }

    &.as-roma {
      background-position: -100px -300px;
    }

    &.rc-celta-de-vigo {
      background-position: -175px -50px;
    }

    &.atalanta-bc {
      background-position: -75px -25px;
    }

    &.gnk-dinamo-zagreb {
      background-position: -200px -150px;
    }

    &.fk-dynamo-kyiv {
      background-position: -200px -25px;
    }

    &.fk-crvena-zvezda {
      background-position: -125px -175px;
    }

    &.sport-lisboa-e-benfica {
      background-position: -50px -100px;
    }

  }
}


