<ul class="fb-filter">
  <li class="filter-item" *ngFor="let filter of arrUserType" [ngClass]="{ 'active': isActiveFilter(filter.id) }">
    <a class="badge" [ngClass]="{ 'badge-info': isActiveFilter(filter.id), 'badge-secondary': !isActiveFilter(filter.id) }" (click)="selectedType(filter.id)">
      {{ filter.text }}
      <span class="ml-1">({{ filter.number }})</span>
    </a>
  </li>
</ul>

<div class="betting-sort">
  <p class="title">Sort by</p>
  <div class="sort-item sort-sm">
    <ng-select class="bet-select bet-select--color-white"
      [items]="oddsOpts" [(ngModel)]="sortBySelected" bindLabel="name" bindValue="id" [hideSelected]="true"
      [clearable]="false" [searchable]="false"></ng-select>
  </div>
  <div class="sort-item sort-md">
    <ng-select class="bet-select bet-select--color-white" [items]="oddsChildOpts" [(ngModel)]="sortBySelected1" bindLabel="name" bindValue="id" [hideSelected]="true"
      [clearable]="false"></ng-select>
  </div>
</div>

<accordion closeOthers="true" class="match-accr-wrap accr-user">
  <accordion-group *ngFor="let uMatch of userMatches; let key = index" [panelClass]="'match-accr-item'" [isOpen]="key === 0">
    <div class="accor-header" accordion-heading>
      <div class="date">
        <span>{{ uMatch.month }}</span>
        <span>{{ uMatch.day }}</span>
      </div>

      <div class="title">
        <p>{{ uMatch.name }}</p>

        <div class="stake">
          <p>Total stake: 10 ETH</p>
        </div>
      </div>
    </div>
    <div class="table-responsive pt-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">odds</th>
            <th scope="col">stake</th>
            <th scope="col">return</th>
            <th scope="col">betting status</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let match of uMatch.odds">
            <td>{{ match.id }}</td>
            <td>{{ match.odds }}</td>
            <td>{{ match.stakeString }}</td>
            <td>{{ match.returnString }}</td>
            <td [ngClass]="match.statusClass">
              {{ match.status }}
              <i class="fa fa-check-circle" *ngIf="match.isSettled"></i>
            </td>
            <td>
              <button class="btn btn-sm btn-cancel" tooltip="Cancel" (click)="openCancel(match)" [disabled]="!match.isOpen">
                <i class="fa fa-ban"></i>
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </accordion-group>
</accordion>
