@import '../../styles/variables';
@import '../../styles/mixin/text';
@import '../../styles/mixin/box-shadow';
@import '../../styles/mixin/border';

.sidebar {
  position: fixed;
  top:0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: $color-blue-gray;
  @include box-shadow(0px, 0px, 4px, $color-white);
  @include border-left(1px, solid, $rgba-gray-opacity);
  z-index: 99999999;
  transition: all .5s ease;

  .sb {

    &-close {
      cursor: pointer;
    }

    &-profile {
      padding: 15px;

      &-item {
        display: flex;
        margin-bottom: 10px;

        p {
          margin-bottom: 0;
        }

        .badge {
          line-height: 1.3;
          margin-left: 10px;
          @include text-ellipsis();
        }
      }
    }
  }

  &.in-open {
    right: 0;
  }
}

@media (max-width: 414px) {
  .sb-content {
    padding: 0 20px;
  }
}
