<div class="sidebar" [ngClass]="{'in-open': isOpen, 'in-close': !isOpen}">
  <div class="sb-close text-white d-flex p-2 font-weight-bold" (click)="closeSidebar()">
    <i class="material-icons mr-2 font-weight-bold">arrow_forward</i>
    Close Tab
  </div>

  <div class="sb-content text-white">
    <h3 class="title text-center">{{ account.network?.name }}</h3>

    <div class="sb-profile">
      <div class="sb-profile-item">
        <p>Address</p>
        <span class="badge badge-primary">{{ account.address }}</span>
      </div>

      <div class="sb-profile-item">
        <p>Your Balance</p>
        <span class="badge badge-primary">{{ account.available_banlance_string }}</span>
      </div>

      <div class="sb-profile-item">
        <p>Placed</p>
        <span class="badge badge-danger">{{ account.placed_balance_string }}</span>
      </div>
    </div>
  </div>
</div>
