<v-container fluid grid-list-md class="pt-0">
  <v-layout>
    <v-flex md8 offset-md2>
      <v-card raised dark color="blue-grey lighten-6">
        <v-card-title class="justify-center">
          <h2 class="headline font-weight-bold">Terms and Conditions</h2>
        </v-card-title>
        <v-card-text>
          <p class="mb-2">- By using and/or accessing any section of bether.bet (“we”, “us” or “our”), you (“the Bettor”) agree to the following
            terms of service, and game rules, promotions, bonuses and special offers which may be found on the bether.bet
            from time to time. Read this terms of service carefully before accepting them. If you do not agree to accept
            and be bound by the terms of service, please do not continue to use bether.bet. Your further use of bether.bet
            will constitute your acceptance of terms of service.</p>

          <p class="mb-2">- The bettor is solely responsible to make sure that he is aware of the current terms and conditions and we advise
            the bettor to check for updates on a regular basis. Bether.bet reserves the right to modify the website, services,
            and software and/or change the system specification requirements necessary to access and use the services at
            any time without any prior notice.</p>

          <p class="mb-2">- To bet on Bether you must be at least 18 years of age. The service is not for use by individuals under the legal
            age of majority in their jurisdiction and individuals accessing the service from jurisdictions from which it
            is illegal to do so. Bether.bet cannot verify the legality of the service in each jurisdiction, so it is the
            user’s responsibility to ensure that their usage is lawful.</p>

          <p class="mb-2">- You are solely responsible for abiding by any law in your jurisdiction towards online gambling with cryptocurrencies.
            You acknowledge that the bether.bet service allows you to bet with virtual currencies. Therefore, during the
            normal course of using the service, you may lose some or all of the cryptocurrencies you bet with. Under no circumstances
            will we be liable for any of your losses. You are fully aware that there is a risk of losing cryptocurrencies
            when gambling by means of the services and you are fully responsible for any such loss. You agree that your use
            of the services is at your sole option, discretion, and risk. In relation to your losses you will have no claims
            whatsoever against bether.bet</p>

          <p class="mb-2">- Internet gambling may not be legal in some jurisdictions. You understand and accept that bether.bet is unable to
            provide you with any legal advice or assurances in respect of your use of services and bether.bet makes no representations
            whatsoever as to the legality of services in your jurisdiction. Use the services on bether.bet at your sole option,
            discretion and risk, you are solely responsible for ascertaining whether it is legal in your jurisdiction.</p>

          <p class="mb-2">- Bether.bet does not intend to enable you to contravene applicable law. You represent, warrant and agree to ensure
            that your use of our services will comply with all applicable laws, statutes, and regulations. We will not be
            responsible for any illegal or unauthorized use of our services by you. You fully understand the methods, rules,
            and procedures of the services and Internet gambling in general.</p>

          <p class="mb-2">- We will never give out any personal information. All information you provide will be used solely to operate the
            bether.bet service.</p>

          <p class="mb-2">- Anyone who discovers an error or a bug when using our site should, in the interest of all users, immediately file
            a bug report. If you discover a bug and report it, you will be rewarded.</p>

          <p class="mb-2">- In the event that a football match, network, blockchain or hardware malfunctions, all bets during the malfunction
            period will be voided and original bets may be lost in a worst case scenario.</p>

          <p class="mb-2">- If you are found to be cheating or abusing your IP address will be banned.</p>

          <p class="mb-2">- Bether.bet does not guarantee investment growth. Bet and invest are at your own risk. Never gamble or invest more
            than you can afford to lose.</p>

          <p class="mb-2">- We do not accept cash or card deposits, only units of Ether for each individual bet. We hold no deposits.</p>

          <p class="mb-2">- Minimum bet 0.1 Ether. Lower amounts will be voided from betting and quietly refunded. There are no maximum ceilings
            for now.</p>

          <p class="mb-2">- Bether.bet offers no guarantee of availability of service. However, we aim, wherever technically possible, to provide
            a largely uninterrupted service. There may, however, be unavoidable periods of downtime (for example, downtime
            due to server or code maintenance) to maintain service and data security.</p>

          <p class="mb-2">- The user is solely responsible for any applicable taxes that may be payable on crypto coins imposed to you through
            your using the service.</p>

          <p class="mb-2">- Any important service status notices will be announced on our Twitter official account and/or pop-up notice on
            the website.</p>

          <p class="mb-2">- The telecommunications, networks and Internet access services required for you to access and use the service are
            entirely beyond the control of bether.bet, and thus we are in no way liable for any outages, slowness, capacity
            constraints, or other deficiencies affecting the same.</p>

          <p class="mb-0">- Bether.bet has the right to modify these terms at any time and without any prior notice. Changes to the system
            can also be made without any notice by the administrator.</p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>

</v-container>
