

<ul>
  <li *ngFor="let match of upcommingMatches">

    <div>
      {{match.homeTeam}}
       <input style="width: 50px"
              class="input"
              type="text"
              [(ngModel)]="match.homeScore"/>
        -
       <input style="width: 50px"   class="input"
              type="text" [(ngModel)]="match.awayScore"/>
          {{match.awayTeam}} - Date: {{match.time}}

      <button

        (click)="updateScore(match)"
        class="button is-primary">
        Update Score
      </button>

      <button

        (click)="approveScore(match)"
        class="button is-primary">
        Approve Score
      </button>
    </div>



  </li>

</ul>

