<div class="table-responsive">
  <table class="table text-center table-bordered table-match text-white">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date time</th>
        <th scope="col">Matches Info</th>
        <th scope="col">@</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of upcommingMatches">
        <th scope="row">1</th>
        <td>{{match.date_from_time}}</td>
        <td>
          <span class="mr-2">{{match.homeTeam}}</span>
          <input class="col-1 input-match" type="text" [(ngModel)]="match.homeGoals" /> -
          <input class="col-1 input-match" type="text" [(ngModel)]="match.awayGoals" />
          <span class="ml-2">{{match.awayTeam}}</span>
        </td>
        <td>
          <button (click)="updateScore(match)" type="button" class="btn btn-info mr-2">Update Score</button>
          <button (click)="approveScore(match)" type="button" class="btn btn-info">Approve Score</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
