<div class="modal-header md-header-odds">
  <h5 class="modal-title">
    <i class="fa fa-soccer-ball-o fa-spin" aria-hidden="true"></i>
    {{ title }}
  </h5>
</div>

<div class="modal-body">
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="odds-team team-selected">
        <i class="fa fa-check-circle ico-selected"></i>
        <i class="fa fa-circle-o ico-unselected"></i>
        <p class="team-name">{{ betting.homeTeam }}</p>
        <sdc-image
          imgWidth="100%"
          imgHeight="70px"
          [imgUrl]="betting.homeTeamFlag"
          [imgName]="betting.homeTeam"></sdc-image>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="odds-option">
        <span>Odds</span>
        <ng-select class="bet-select bet-select--odds bet-value--center"
          [items]="oddsArray" [(ngModel)]="oddsSelected" bindLabel="value" bindValue="id" [hideSelected]="true"
          [clearable]="false" [searchable]="false" (ngModelChange)="oddsChanged()" ></ng-select>
      </div>
      <div class="odds-option">
        <span>Stake</span>
        <div class="odds-group">
          <input type="number" class="form-control input-odds">
          <span class="sub">ETH</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="odds-team">
        <i class="fa fa-check-circle ico-selected"></i>
        <i class="fa fa-circle-o ico-unselected"></i>
        <p class="team-name">{{ betting.awayTeam }}</p>
        <sdc-image
          imgWidth="100%"
          imgHeight="70px"
          [imgUrl]="betting.awayTeamFlag"
          [imgName]="betting.awayTeam"></sdc-image>
      </div>
    </div>
  </div>

  <div class="d-block text-center mt-3 mb-0">
    <p class="mb-0">Bet with: <a class="text-link">0x0e4af4fd5b3add1137d268be1ea325f61e534c82</a></p>
    <p class="mb-0">Potential Return: 11.355 ETH</p>
  </div>

  <!-- <table class="table text-center table-borderless">
    <thead>
      <tr>
        <th scope="col" [ngClass]="{ 'text-success team-active': activeTeam(0) }"> {{fixture.homeTeamName}} </th>
        <th scope="col">Placed Bet</th>
        <th scope="col" [ngClass]="{ 'text-success team-active': activeTeam(1) }"> {{fixture.awayTeamName}} </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="btn" (click)="markTeam(fixture.homeTeamName)">
          <dir class="team-flag" [ngClass]="{ 'active': activeTeam(0) }">
            <img [src]="fixture.homeFlag">
          </dir>
        </td>
        <td>
          <div class="col mt-2">
            <select class="form-control text-center" [(ngModel)]="handicap.odds">
              <option class="text-center" [value]="item.value" *ngFor="let item of oddsArr">{{item.value}}</option>
            </select>
          </div>
          <div class="mt-3">
            <label class="text-success font-weight-bold">{{handicap.handicapDetail}}</label>
          </div>
        </td>
        <td scope="row" class="btn" (click)="markTeam(fixture.awayTeamName)">
          <dir class="team-flag" [ngClass]="{ 'active': activeTeam(1) }">
            <img [src]="fixture.awayFlag">
          </dir>
        </td>
      </tr>

      <tr>
        <td>{{handicap.stake}} ETH</td>
        <td>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text font-weight-bold">ETH</div>
            </div>
            <input [(ngModel)]="handicap.stake" type="number" min="0.01" class="form-control" id="inlineFormInputGroup" placeholder="Stake">
          </div>
        </td>

        <td> {{handicap.stake}} ETH</td>
      </tr>

    </tbody>
  </table> -->
</div>

<div class="modal-footer md-footer-info">
  <button type="button" class="btn btn-default" (click)="close()">Close</button>
  <button type="button" (click)="offer(handicap)" class="btn btn-primary">{{ btnSubmit }}</button>
</div>
