<div class="card card-match text-white my-3" *ngFor="let fixtures of matchFixtures" [hidden]="!matchFixtures.length">
  <div class="card-header font-weight-bold">{{ fixtures.key }}</div>
  <ul class="list-group list-group-flush">
    <li (click)="gotoDetail(fixture)" class="list-group-item pointer" *ngFor="let fixture of fixtures.value">
      <p class="my-0 font-weight-bold text-">
        {{ fixture.time_string }}
      </p>
      <p class="match-flag">
        <img class="box-shadow--sm flag-img" [src]="fixture.homeFlag"> {{ fixture.match }}
        <img class="box-shadow--sm flag-img" [src]="fixture.awayFlag">
      </p>
      <a (click)="gotoDetail(fixture)" class="arrow-detail"></a>
    </li>
  </ul>
</div>

<div class="alert alert-match text-white mt-3" role="alert" [hidden]="matchFixtures.length">
  No matches found!
</div>
