<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <div class="card card-match text-white my-3">
      <div class="card-header font-weight-bold">HOW IT WORKS</div>
      <div class="card-body">
        <p>All matches will be managed by smart contracts thanks to the evolution of the Blockchain in general and the Ethereum
          in specific. A match goes through the following phases:</p>
        <ul class="mb-0">
          <li class="mb-3">
            <strong>Open</strong>: The open opens 1 week before the match starts. You can bet on either team as often you want with
            as much Ether as you want. The minimum bet amount is 0.001 Ether, which is about 50 cents right now.</li>
          <li class="mb-3">
            <strong>Closed/Match playing</strong>: The bet closes 15 mins before the match starts. It is too late to place bets now,
            as the match is starting soon.</li>
          <li class="mb-3">
            <strong>Match finished</strong>: When the regular match tie is over (90’), the match result goes through 2 stages confirmation,
            one for the API result fetching and one from the Admin. The fetching and confirmation of the match outcome have
            to be completed within 1 day from after the match starts. If it takes longer, you can claim refunds.</li>
          <li>
            <strong>Payouts</strong>: Once the winner is fetched and confirmed, there is no go-back. Users, who betted on the winning
            team will receive their payouts with 5% juice cut (We believe we are offering the lowest juice in comparison
            with other betting systems). In case there are no winning sides, refunds will be sent out to bettors with 2,5%
            juice cut each side.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
