<div class="account">
    <span>Your Account</span>
  <br/>
    <span>Network: {{networkInfo.provider.name}}</span>
   <br/>
    <span>Address:</span> {{networkInfo.selectedAddress}}
  <br/>
    <span>Available Balance: </span> {{accountBalance}} {{networkInfo.provider.symbol}}
  <br/>
    <span>Placed Balance: </span> {{placedBalance}} {{networkInfo.provider.symbol}}
</div>

<br/>
<div>
  Search Your Matches:
  <input class="input"
         type="text"
         [(ngModel)]="searchMatch"
  />
  <br/>

  Match status <input class="input" type="checkbox" [(ngModel)]="isFinished"/>Finished
  <br/>
  Betting status:
  <input class="input" type="checkbox" [(ngModel)]="isOpening" />Opening
  <input class="input" type="checkbox" [(ngModel)]="isDeal" />Deal
</div>

<ul>

    <li *ngFor="let match of groupMatches | matchPipe:{team:searchMatch, matchStatus: isFinished, bettingStatus: {open: isOpening, deal: isDeal}}">
      <span> {{match.match.homeTeam}} {{match.match.homeScore}}-{{match.match.awayScore}}  {{match.match.awayTeam}}</span>
      <ul>
        <li *ngFor="let betting of match.bettings | bettingPipe:{open: isOpening, deal: isDeal}">
          <span  class="animate-if" ng-if="betting.chooseHomeTeam==true" >Bet for {{match.match.homeTeam}}</span>
          <span  class="animate-if" ng-if="betting.chooseHomeTeam==false" >Bet for {{match.match.awayTeam}}</span>
          <span>   {{betting.rate}} : {{betting.amount}}{{networkInfo.provider.symbol}}</span>
          <span>   {{betting.status}}</span>
        </li>
      </ul>
    </li>
  </ul>
