<div class="input-search mt-3">
  <input class="input-search--item" type="text" [(ngModel)]="searchMatch" placeholder="Search Your Matches" maxlength="100"
  />
  <div class="input-search--icon">
    <i class="material-icons">search</i>
  </div>
</div>

<div class="match-recommend">
  <p class="mb-0">Recommended Matches:</p>
  <ul class="mr-wrap">
    <li class="mr-item" *ngFor="let match of recommendMatch">
      <a>
        <i class="fa fa-star"></i>
        {{ match.name }}
      </a>
    </li>
    <li class="mr-item mr-more">
      <a>
        more...
      </a>
    </li>
  </ul>
</div>

<ul class="nav nav-justified">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['open']">Open Matches</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['finished']">Finished Matches</a>
  </li>
</ul>

<router-outlet></router-outlet>

<!-- <div class="card card-match text-white" *ngIf="groupMatches?.length !== 0">
    <div class="card-body">
      <div class="row form-group">
        <label class="col-md-2">Match status</label>
        <div class="col-md-9">
          <label class="bet-ckb mr-4">Up Coming
            <input class="input" type="checkbox" [(ngModel)]="isUpComing" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb mr-4">Playing
            <input class="input" type="checkbox" [(ngModel)]="isPlaying" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb">Finished
            <input class="input" type="checkbox" [(ngModel)]="isFinished" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="row form-group mb-0">
        <label class="col-md-2">Betting status</label>
        <div class="col-md-9">
          <label class="bet-ckb mr-4">Opening
            <input class="input" type="checkbox" [(ngModel)]="isOpening" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb mr-4">Settled
            <input class="input" type="checkbox" [(ngModel)]="isDeal" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb mr-4">Refunded
            <input class="input" type="checkbox" [(ngModel)]="isRefunded" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb mr-4">Canceled
            <input class="input" type="checkbox" [(ngModel)]="isCanceled" />
            <span class="checkmark"></span>
          </label>

          <label class="bet-ckb">Done
            <input class="input" type="checkbox" [(ngModel)]="isDone" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div> -->

<!-- <div class="bet-accordion"
    *ngFor="let item of groupMatches| matchPipe:{team:searchMatch, matchStatus: {upcoming:isUpComing, playing:isPlaying, finished: isFinished}, bettingStatus: {open: isOpening, deal: isDeal, canceled: isCanceled, refunded: isRefunded, done: isDone}}"
    [ngClass]="{'active': isShowAccordion(item.matchId)}">
    <div class="accr-header" (click)="showAccordion(item.matchId)">
      {{item.match.homeTeam}}
      <span *ngIf="item.match.status == 4"> {{item.match.homeGoals}} - {{item.match.awayGoals}} </span>
      <span *ngIf="item.match.status != 4"> vs </span>
      {{item.match.awayTeam}}

      <i class="material-icons">
        {{ isShowAccordion(item.matchId) ? 'arrow_drop_down' : 'arrow_drop_up' }}
      </i>
    </div>

    <div class="accr-body" [ngClass]="{'active': isShowAccordion(item.matchId)}">
      <div class="table-responsive">
        <table class="table table-hover text-white">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Decision</th>
              <th scope="col" style="width: 25%;">Bet Amount</th>
              <th scope="col" style="width: 25%;">Status</th>
              <th scope="col" style="width: 25%;">Receive Amount</th>
              <th scope="col" style="width: 25%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let betting of item.bettings | bettingPipe:{open: isOpening, deal: isDeal, canceled: isCanceled, refunded: isRefunded, done: isDone}">
              <td>
                {{betting.betFor}} {{betting.odds}} @
              </td>
              <td>
                {{betting.amount}} ETH
              </td>
              <td>
                <span>{{betting.status_string}}</span>
              </td>
              <td>
                {{betting.receivedAmount}} ETH
              </td>
              <td>
                <button *ngIf="betting.status === 0" type="button" tooltip="Available when status is opening" class="btn btn-danger btn-sm d-flex"
                  (click)="cancel(betting)">
                  <i class="material-icons">highlight_off</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="alert alert-match text-white mt-3" role="alert" *ngIf="groupMatches?.length === 0">
    <p class="mb-0">
      <strong class="mr-2">No bets found!</strong>Who knows you will be a millionaire.
      <a class="text-link" [routerLink]="['']">Click here</a> to start betting.</p>
  </div> -->
