@import '../../styles/_variables';
@import '../../styles/mixin/_background';

.match-banner {
  @include bg-img--cover('../../assets/images/Banner-Football-Ball.png');
  min-height: 176px;
  padding: 23px 18px 18px 190px;
  color: $color-white;
  position: relative;

  .match {
    &-date {
      display: flex;
      margin: 10px 0;
    }

    &-title {
      margin-bottom: 0;
      font-size: 1.1rem;
      text-transform: capitalize;

      @media (max-width: 667px) {
        font-size: 1rem;
      }
    }

    &-time {
      position: absolute;
      top: 37%;
      right: 68px;
      display: flex;
      font-size: 40px;
      margin-bottom: 0;
      line-height: 40px;
      text-transform: uppercase;

      i {
        font-size: 40px;
        margin-right: 5px;
      }

      @media (max-width: 812px) {
        right: 20px;
      }

      @media (max-width: 736px) {
        display: grid;
        text-align: center;
        top: 24%;
        right: 5px;
      }

      @media (max-width: 667px) {
        top: 22%;
      }

      @media (max-width: 414px) {
        top: 20%;
      }

      @media (max-width: 375px) {
        font-size: 2rem;

        i {
          font-size: 2rem;
        }
      }

      @media (max-width: 320px) {
        left: 0;
        top: 35px;
      }
    }

    &-img {
      width: 60px;
      height: 30px;

      @media (max-width: 812px) {
        width: 50px;
        height: 25px;
      }

      @media (max-width: 667px) {
        width: 40px;
        height: 25px;
      }

      @media (max-width: 375px) {
        width: 30px;
        height: 20px;
      }
    }
  }

  .betting-wrap {
    margin-bottom: 10px;

    @media (max-width: 667px) {
      &.betting-md {
        p {
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }
    }
  }

  @media (max-width: 667px) {
    background-position: 50% 50%;
    padding: 20px 10px 0;
    min-height: 150px;
  }

  @media (max-width: 320px) {
    padding-top: 100px;
    min-height: 230px;
  }
}

.btn-new-bet {
  text-align: right;
  margin-right: 17px;

  @media (max-width: 1024px) {
    margin-right: 0;
  }
}

.odds-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .btn {
    // line-height: 0;
    // border-color: $color-green;
    // color: $color-green;
    font-weight: bold;

    .fa {
      margin-right: 5px;
    }
  }
}
