<div class="container">

    <div class="row mb-3">
        <div>
            <h1 class="text-primary">{{fixture.homeTeamName}} vs. {{fixture.awayTeamName}} </h1>
            <span class="label label-info">{{fixture.date_string}}</span>
        </div>
    </div>

  <div class="row mb-3">
    <button type="button" class="btn btn-primary mr-3">New Offer</button>
    <button routerLink="/" type="button" class="btn btn-primary">Return to home</button>
  </div>
  <div class="row mb-3">
      <table class="table  table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{fixture.homeTeamName}}</th>
              <th scope="col">Rate</th>
              <th scope="col">{{fixture.awayTeamName}}</th>
              <th scope="col">Amount(ETH)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row">1</th>
              <td scope="row">0x3049d0612193b107b08...</td>
              <td scope="row">0:1 1/4</td>
              <td scope="row">0x01c400bcef2e2416b84...</td>
              <td scope="row">3</td>
              <td>

                <button type="button" class="btn btn-info">Deal</button>

              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
