@import '../../styles/_variables';
@import '../../styles/mixin/_background';

.match-banner {
  @include bg-img--cover('../../assets/images/Banner-Football-Ball.png');
  height: 145px;
  padding: 17px 25px 16px 170px;
  color: $color-white;
  position: relative;

  .match {
    &-date {
      display: flex;
      margin: 10px 0 5px;
    }

    &-title {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      &_sub {
        margin-bottom: 0;
        font-size: 11px;
        text-transform: capitalize;
      }
    }

    &-time {
      position: absolute;
      top: 37%;
      right: 68px;
      display: flex;
      font-size: 40px;
      margin-bottom: 0;
      line-height: 40px;
      text-transform: uppercase;

      i {
        font-size: 40px;
        margin-right: 5px;
      }
    }
  }
}

.btn-new-bet {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;

  .btn {
    box-shadow: 0 0 5px $color-white;
  }
}
