<app-header></app-header>

<div class="container">
  <div class="row mb-3">
    <div>
      <h1 class="text-info">{{ fixture.match }}</h1>

      <div class="d-flex">
        <i class="material-icons">date_range</i>
        <span class="d-inline-block">{{ fixture.date_string }} {{ fixture.time_string }}</span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <button type="button" class="btn btn-warning mr-3" (click)="openHandicap()" [disabled]="isLoading">New Bet</button>
    <!-- <button routerLink="/" type="button" class="btn btn-success">Return to home</button> -->
  </div>

  <div class="row mb-3">
    <table class="table table-bordered table-striped text-center"
      [ngClass]="{'loading': isLoading}">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><img [src]="fixture.homeFlag" width="40px"> {{fixture.homeTeamName}}</th>
          <th scope="col" class="pr-5 pl-5">Odds</th>
          <th scope="col"> <img [src]="fixture.awayFlag" width="40px"> {{fixture.awayTeamName}}</th>
          <th scope="col"><img src="/assets/images/ethereum.png" width="40px"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let betting of bettings; let i = index">
          <th scope="row">{{i}}</th>
          <td scope="row">{{betting.homeOffer}}
          </td>
          <td scope="row" class="text-danger">{{ betting.odds_string}}</td>
          <td scope="row">
            {{betting.awayOffer}}
          </td>
          <td scope="row">{{ betting.stake}}</td>
          <td *ngIf="betting.status === 'Open'">
            <button type="button" class="btn btn-warning" (click)="openAcceptOdds(betting)">Deal</button>
          </td>
          <td *ngIf="betting.status !== 'Open'">
            <span>
              {{betting.status}}
            </span>
            </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
