<v-container fluid grid-list-md class="pt-0">
  <v-layout>
    <v-flex md8 offset-md2>
      <h3 class="headline font-weight-bold white--text mb-2">What do I need to start betting?</h3>
      <v-card raised dark color="blue-grey lighten-6 mb-4">
        <v-expansion-panel class="accor-fixture">
          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">A computer running Chrome or FireFox</div>
            <v-card-text class="pl-4">
              <h4 class="body-2">1. Can I bet on a mobile device ?</h4>
              <p class="pl-3">- For now, we don’t recommend betting on mobile devices.</p>
              <h4 class="body-2">2. Can I login from multiple computers ?</h4>
              <p class="pl-3">- You can use Bether from multiple computers as long as you have MetaMask installed on both. When you log in
                to MetaMask on a new computer, it will request your “seed phrase” for verification. Copy your MetaMask seed
                phrase from the old computer to the new computer to ensure you have the same secure keys.</p>
              <h4 class="body-2">3. Can I use a different browser ?</h4>
              <p class="pl-3 mb-0">- We recommend sticking with Chrome or Firefox since we can’t guarantee optimal performance.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">A digital wallet</div>
            <v-card-text class="pl-4">
              <h4 class="body-2">1. Install your digital wallet</h4>
              <p class="pl-3 mb-1">- To bet via Bether, you need a digital wallet. We recommend to use MetaMask since it is simple, easy to use
                and guarantees high security.</p>
              <p class="pl-3">- You’ll need to put ether in your wallet to make your first bet, please note that a digital wallet like MetaMask
                acts like a bank account, therefore make sure you don’t forget your password or the seed words.</p>

              <h4 class="body-2">2. Reinstalling MetaMask</h4>
              <p class="pl-3">- Some users need to uninstall and reinstall MetaMask because the app needs a refresh. As long as you kept
                your seed words safely, this is very easy! Just delete the extension, reinstall it, and import your twelve
                seed words. Then you’ll set the password you want to use (this can be the same one as you used before or
                a whole new password).</p>
              <h4 class="body-2">3. What are seed words? Why are they so important?</h4>
              <p class="pl-3">- Your seed words are like a very important password. They let you restore your MetaMask account in the case
                it’s deleted. If MetaMask is uninstalled from your computer, or if you need to use a different computer,
                you can use your seed words to reestablish access to your wallet. This also means that anyone with your seed
                words can access your account and steal your assets. Please be sure to save your seed words, and do not share
                them with others.</p>

              <h4 class="body-2">4. Why is MetaMask Locked?</h4>
              <p class="pl-3">- Occasionally the “My bets” page displays a lock screen. This happens because MetaMask automatically locks
                your account after a certain period of time. To unlock, simply click on the MetaMask extension and type in
                your password.</p>

              <h4 class="body-2">5. Can you change my MetaMask password?</h4>
              <p class="pl-3">- No, we can’t.</p>

              <h4 class="body-2">5. What is a “wallet address”?</h4>
              <p class="pl-3 mb-0">- Your public wallet address (e.g. 0x00a7d97ed55406fb27590c093dc08a73092a55b9) is a unique identifier for your
                wallet. You can share it freely with others and it’s used to direct assets to your wallet.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Ethereum, a digital currency</div>
            <v-card-text class="pl-4">
              <h4 class="body-2">1. What’s ether (ETH)? Why do I need it?</h4>
              <p class="pl-3 mb-1">- Ether is a digital currency that powers the Ethereum network, which is what Bether is built on. Ether acts
                like any other currency - its value fluctuates with the market.</p>
              <p class="pl-3">- You need to buy or transfer ether from other sources to Metamask wallet to create or settle your bets.</p>

              <h4 class="body-2">2. How do I get ether?</h4>
              <p class="pl-3 mb-1">- For U.S. citizens only: you can buy ether (ETH) directly through MetaMask. MetaMask purchases ether through
                Coinbase (a currency exchange), and delivers it to your MetaMask wallet.</p>
              <p class="pl-3">For everyone else: you will need to purchase ETH from an exchange, and then transfer the ETH from your exchange
                wallet to your MetaMask wallet.</p>

              <h4 class="body-2">3. How do I send ether to MetaMask?</h4>
              <p class="pl-3">- You can copy your MetaMask wallet address by clicking the three large dots next to your username in MetaMask
                and selecting “Copy address to clipboard”. You can send assets to your MetaMask wallet from another source
                by inputting this wallet address.</p>

              <h4 class="body-2">4. How long does it take to receive ether?</h4>
              <p class="pl-3 mb-0">- Basing on the current traffic of Ethereum network, it usually takes under 10 minutes to receive ether in
                your MetaMask wallet upon transferring.</p>
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>

      <h3 class="headline font-weight-bold white--text mb-2">Create and settle bets</h3>
      <v-card raised dark color="blue-grey lighten-6 mb-4">
        <v-expansion-panel class="accor-fixture">
          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">How do I know my new bet created successfully?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">You will be noticed by a pop-up telling your bet is created successfully and from there you can share via social
                media. Your bet will be displayed in match details with your wallet address and in “My bets” as well.
              </p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Can I adjust the odds or stake after my new bets are created?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">No, you can’t. However, if your bet is still under the open status, you can cancel it and recreate again.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Can I cancel an open bet?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">Yes, you can. As long as your bet status is open, you can cancel it. Once it is changed to settled, you can’t
                cancel.
              </p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">How do I know when my bets are settled?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">You can check all your bets in “My bets” and filter by Settled. Alternatively, you can access directly Match
                Details page and search by your wallet address.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Can I cancel a settled bet?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">No, you can’t.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">How much time should I wait for to receive the payouts for a winning or draw bet?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">Once the match result is confirmed by the result API and our Admin (two factors confirmation), your payouts
                will be sent out.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">How can I be prioritized to receive the payouts before others?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">After the match was finished and you won the bet, you can click on “Request for Payout” under Finished Matches
                to prioritize your payouts. There are no any other fees for prioritizing your payouts except the transfer
                fee (Gas) that you incur for miners.</p>
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>

      <h3 class="headline font-weight-bold white--text mb-2">Transactions and Technical Questions</h3>
      <v-card raised dark color="blue-grey lighten-6">
        <v-expansion-panel class="accor-fixture">
          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">What’s Etherscan?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">Etherscan is a read-only interface for the Ethereum network. It tells you everything that happened on the blockchain.
                It helps you verify that transactions were successful, and tracks other helpful details about transactions
                and addresses.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Why did my transaction fail?</div>
            <v-card-text class="pl-4">
              <p class="mb-0">If your transaction failed, it was probably because someone else settled the bet that you are choosing. Another
                possible reason a transaction might fail is manually setting the gas limit too low.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">My transaction failed but it still charged me gas.</div>
            <v-card-text class="pl-4">
              <p class="mb-0">Gas is paid whenever a request is processed on the blockchain. Even if a transaction fails, it still takes
                computing power to determine whether or not the transaction can succeed. The Ethereum network charges gas
                for the operations executed up until the transaction fails. These transaction fees are not paid to the Bether
                team, but to the Ethereum network and miners.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">My transaction timed out.</div>
            <v-card-text class="pl-4">
              <p class="mb-1">When a transaction “times out”, it doesn’t mean the transaction has failed, only that the Ethereum network
                is very busy. As a result, your bet won’t be displayed on Bether until the transaction is finalized in the
                network.</p>
              <p class="mb-0">This can occur because of high gas prices or a spike in network congestion.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">I didn’t receive ether for a winning or draw bet</div>
            <v-card-text class="pl-4">
              <p class="mb-0">After the match was finished, the result will be confirmed by the API and our Admin less than 24 hours from
                the time the match starts. Right after the result is finalized, your payouts will be sent out.</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Tell me more about “gas”.</div>
            <v-card-text class="pl-4">
              <p class="mb-1">“Gas” is a shorthand used to describe the cost of powering a transaction or contract in Ethereum, which is
                the blockchain network that Bether is built on.</p>
              <p class="mb-1">Because blockchain is decentralized, every transaction is distributed through multiple computers, not a central
                server. This ensures each bet is secure. It also takes a lot of computational power, which is covered by
                the cost of gas.</p>
              <p class="mb-1">“Gas” is composed of two parts: Gas Price and Gas Limit. Gas Price is what you offer to pay the miners (in
                a tiny measurement of ether called “gwei”) for each operation to execute the smart contract. Gas Limit is
                how many operations you let them to do before they run out of gas and drop the transaction.</p>
              <p class="mb-1">1 gwei = 1/1,000,000,000th of an ether.</p>
              <p class="mb-0">You can get more information here https://ethgasstation.info</p>
            </v-card-text>
          </v-expansion-panel-content>

          <v-expansion-panel-content class="bg-transparent" expand-icon="fas fa-chevron-down font-sm">
            <div class="font-weight-bold" slot="header">Help! My problem wasn’t addressed here. How do I contact the Bether team?</div>
            <v-card-text class="pl-4">
              <p class="mb-1">You can send the email to our support team support@bether.bet with the following information:</p>
              <p class="mb-1 pl-2">- Your Ethereum wallet address</p>
              <p class="mb-1 pl-2">- A description of your issue</p>
              <p class="mb-1 pl-2">- Transaction ID (can be found at the first column in “My bets”)</p>
              <p class="mb-0">We aim to respond to support requests within 24 hours. We record the details of every bet into the blockchain,
                so we should always be able to resolve any issue that you may be experiencing.</p>
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>

    </v-flex>
  </v-layout>
</v-container>
