.img {
  &-wrap {
    position: relative;
  }

  &-item {
    display: none;
  }

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}