.match-banner {
  background-image: url('../../assets/images/match-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
}

.match-banner .mb-introduct {
  background-color: rgba(0, 0, 0, .65);
  padding: 40px 15px 50px 40px;
  color: #fff;
  position: relative;
}

.mb-introduct p {
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
}

.mb-introduct .btn {
  border: 2px solid #fefefe;
  text-transform: capitalize;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
