<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <ul class="nav nav-justified">
        <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/']">Today</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/tomorrow']">Tomorrow</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/future']">Future Matches</a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
