<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <ul class="nav nav-justified">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Today</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tomorrow']" routerLinkActive="active">Tomorrow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/future']" routerLinkActive="active">Future Matches</a>
        </li>
      </ul>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
