<v-card dark raised color="blue-grey lighten-6">
  <v-img :src="require('@/assets/images/Banner.png')"></v-img>
  <v-card-text>
    <p><strong class="orange--text">Bether</strong> is one of the first <strong class="orange--text">peer-to-peer betting systems</strong> developed on the
      <strong class="orange--text">Ethereum</strong> blockchain. Bettors can create a new bet for any open matches or settle an existing one which was placed
      by others.</p>

    <p>All matches will be managed by <strong class="orange--text">smart contacts</strong> deployed on the Ethereum blockchain. After the match is decided,
      the payouts will be sent out to the bettors who betted correctly.
      Other than betting on the wrong team, there is no way of losing Ether. The design of the deployed Bet smart
      contracts makes this betting dApp (distributed application) <strong class="orange--text">fraud- and tamper-proof!</strong> Your bets are safely stored
      in the smart contracts. In case of worst scenarios (match is postponed, external data provider misbehaves, etc),
      you are always able to get all your Ether back without paying any fee!</p>
  </v-card-text>
</v-card>
