<v-card dark raised color="blue-grey lighten-6">
  <v-card-title class="title" primary-title>Crypto P2P Betting</v-card-title>
  <v-divider color="white"></v-divider>
  <v-card-text>
    <p>Bether is one of the first peer-to-peer systems developed on the Ethereum blockchain. Bettors can create a new bet for
      any open matches or settle an existing one which was placed by others.</p>
    <p class="mb-0">All matches will be managed by smart contacts deployed on the Ethereum blockchain. After the match is decided, the payout
      will be sent out to the people who betted correctly. Other than betting on the wrong team, there is no way of losing
      Ether. The design of the deployed Bet smart contracts makes this betting dApp (distributed application) fraud- and
      tamper-proof! Your bets are safely stored in the smart contracts. In case of worst scenarios (match is postponed, external
      data provider misbehaves, etc), you are always able to get all your Ether back without paying any fee!
    </p>
  </v-card-text>
</v-card>