<v-card dark raised color="blue-grey lighten-6">
  <v-card-title class="title" primary-title>Crypto P2P Betting</v-card-title>
  <v-divider color="white"></v-divider>
  <v-card-text>
    <p><strong class="orange--text">Bether</strong> is one of the first <strong class="orange--text">peer-to-peer systems developed on the Ethereum blockchain</strong>. Bettors can create a new bet
      for any open matches or settle an existing one which was placed by others.</p>
    <p>All matches will be managed by <strong class="orange--text">smart contacts</strong> deployed on the <strong class="orange--text">Ethereum blockchain</strong>. After the match is
      decided, the payout will be sent out to the people who betted correctly. Other than betting on the wrong team, there
      is no way of losing Ether. The design of the deployed Bet smart contracts makes this betting dApp (distributed application)
      fraud- and tamper-proof! Your bets are safely stored in the smart contracts. In case of worst scenarios (match is postponed,
      external data provider misbehaves, etc), you are always able to get all your Ether back without paying any fee!
    </p>
    <p>
      The design of the smart contracts representing the various bets makes betting on <strong class="orange--text">Crypto P2P 100% fraud-proof</strong> . There are two
      outcomes of a bet:
    </p>
    <p>1, The match is finished and the result is first correctly fetched and the confirmed. Subsequently, users get their
      payouts.
    </p>
    <p class="mb-0">2, Something goes wrong, e.g. the match is postponed, the fetching does not return any match results or the result
      is not confirmed in time. In any of these cases, users get their bets fully refunded without paying any fee!</p>
  </v-card-text>
</v-card>
